.modal-wrapper {
  .ant-modal-content {
    @apply rounded-lg text-black;
  }
  .ant-modal-header {
    background-color: #1E5C34;
    @apply relative rounded-tl-lg rounded-tr-lg;
  }
  .ant-modal-title {
    @apply text-center text-lg text-white;
    font-family: var(--font-medium);
  }
 
  .ant-modal-footer {
    @apply flex justify-center space-x-10;
    button {
      min-width: 30%;
      border-radius: 4px;
    }
  }
}